language: python
python:
  - "3.6.5"
dist: xenial
branches:
  only:
    - master
install:
  - pip install -r requirements/local.txt
  - pip install flake8
before_script:
  - export DJANGO_SETTINGS_MODULE=gluon.settings.stage
script:
  - mv .env.example .env
  - python manage.py test
after_success:
  - pip install python-coveralls
  - coveralls

