{% extends 'bulma/base.html' %}
{% load static %}


{% block title %}DAppRank | dapprank.com{% endblock title %}

{% block css %}
    <link href="//cdn.bootcss.com/bulma/0.6.2/css/bulma.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}


{% block header %}
    {% include 'base/snippets/header.html' %}
{% endblock %}

{% block footer %}
    {% include 'base/snippets/footer.html' %}
{% endblock %}

 {% block extra_javascript %}
     <script type="text/javascript" src="{% static 'js/build/app_build.js' %}"></script>
 {% endblock extra_javascript %}
