{% extends 'bulma/base.html' %}
{% load static %}

{% block title %}DAppRank | dapprank.com{% endblock title %}

{% block extra_css %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}


{% block header %}
    {% include 'base/snippets/header.html' %}
{% endblock %}

{% block footer %}
    {% include 'base/snippets/footer.html' %}
{% endblock %}

 {% block extra_javascript %}
     <script type="text/javascript" src="{% static 'js/build/app_build.js' %}"></script>
 {% endblock extra_javascript %}
