{% extends 'base/base.html' %}
{% load i18n %}

{% block title %}{{ object.name }} | dapprank.com{% endblock %}


{% block content %}
    <section id="bread" class="container">
        <div class="columns is-centered">
            <div class="column is-three-quarters">
                <div class="container is-tablet">
                    <nav class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="#">{% trans 'home' %}</a></li>
                            <li><a href="{% url 'dapps:list' %}">{% trans 'dapps' %}</a></li>
                            <li class="is-active"><a href="#" aria-current="page">{{ object.name }}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container is-tablet">
            <div class="columns is-centered">
                <div class="column is-three-quarters project-wrapper">
                    <div class="card">
                        <div class="card-content">
                            <article class="media project-detail">
                                <figure class="media-left is-128x128">
                                    <img title="{{ row.name }}" src="{{ row.site.logo|default:'https://bulma.io/images/placeholders/128x128.png' }}">
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <h1 class="title">{{ object.name }} </h1>
                                        <div class="field is-grouped is-grouped-multiline">
                                            <div class="control">
                                                <div class="tags has-addons">
                                                    <span class="tag">{% trans 'status' %}</span>
                                                    <span class="tag is-success">{{ object.status }}</span>
                                                </div>
                                            </div>
                                            {% if object.ico_status %}
                                                <div class="control">
                                                    <div class="tags has-addons">
                                                        <span class="tag">{% trans 'ico status' %}</span>
                                                        <span class="tag is-success">{{ object.ico_status }}</span>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="subtitle link">
                                            <a title="{{ object.name }}" target="_blank"
                                               href="{{ object.site.url }}">{{ object.site.url }}</a>
                                        </div>

                                        <div class="subtitle social">
                                            <span class="social-icon">
                                                <a href="{{ project.site }}"><i class="fa fa-globe"></i></a>
                                            </span>

                                            <span class="social-icon">
                                                <a target="_blank" href="{{ object.social.twitter }}"><i class="fa fa-twitter"></i></a>
                                            </span>

                                            <span class="social-icon">
                                                <a target="_blank" href="{{ object.social.facebook }}"><i class="fa fa-facebook"></i></a>
                                            </span>

                                            <span class="social-icon">
                                                <a target="_blank" href="{{ object.social.instagram }}"><i class="fa fa-instagram"></i></a>
                                            </span>

                                            <span class="social-icon">
                                                <a target="_blank" href="{{ object.github.url }}"><i class="fa fa-github"></i></a>
                                            </span>

                                            <span class="social-icon">
                                                <a target="_blank" href="{{ object.social.reddit }}"><i class="fa fa-reddit"></i></a>
                                            </span>
                                        </div>

                                        <div class="tags">
                                            {% for row in object.tags.all %}
                                                <span class="tag is-light">{{ row }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <ul>
                                        <li>
                                            <div class="tag is-dark">关注</div>
                                        </li>
                                        <li>
                                            <div class="tag is-dark">认领</div>
                                        </li>
                                        <li>
                                            <div class="tag is-dark">分享</div>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>

                     <div class="card">
                        <div class="card-content">
                           <section class="hero">
                               <h2 class="title">项目描述</h2>
                               <div class="content">{{ object.description }}</div>
                           </section>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}