{% extends 'base/base.html' %}
{%load i18n %}
{% block content %}

    <section id="filter-section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-three-quarters">
                    <div class="control lined-filter">
                      <div class="select">
                        <select>
                          <option>Select dropdown</option>
                          <option>With options</option>
                          <option>With options</option>
                          <option>With options</option>
                          <option>With options</option>
                        </select>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container is-tablet">
            <div class="columns is-tablet is-multiline">
                {% for row in object_list %}
                    {% include "dapps/snippets/cell.html" with dapp=row %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}