{% extends 'base/base.html' %}
{% load i18n %}
{% load bulma_tags %}

{% block title %}DApps | dapprank.com{% endblock %}


{% block content %}
    <section id="filter-section">
        <div class="container">
            <div class="columns is-centered">
                <form action="{% url 'dapps:search' %}" method="get">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" name="q" type="text" placeholder="Find a repository">
                        </div>
                        <div class="control">
                            <a class="button is-info">Search</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container is-tablet">
            <div class="columns is-tablet is-multiline">
                {% for row in object_list %}
                    {% include "dapps/snippets/cell.html" with dapp=row %}
                {% endfor %}
            </div>

            {% bulma_pagination page_obj extra=request.GET.urlencode %}
        </div>
    </section>
{% endblock %}