<section id="header">
    <div class="container is-tablet">
        <nav class="navbar is-transparent" role="navigation" aria-label="dropdown navigation">
            <a class="navbar-item">
                DAPP LIST
            </a>
            <div class="navbar-item has-dropdown" id="dropme">
                <a class="navbar-link">
                    Docs
                </a>

                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item">
                        Overview
                    </a>
                    <a class="navbar-item">
                        Elements
                    </a>
                    <a class="navbar-item">
                        Components
                    </a>
                    <hr class="navbar-divider">
                    <div class="navbar-item">
                        Version 0.6.1
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>