{% extends 'base/base.html' %}
{% load i18n %}
{% load bulma_tags %}

{% block title %}{% endblock %}

{% block content %}
    <section id="content">
        <div class="container">
            <div class="columns is-tablet is-multiline">
            {% for row in object_list %}
                <div class="column is-3">
                    <div class="box">
                        <a href="#" title="{{ row.author }}">{{ row.name }}</a>
                    </div>
                </div>
            {% endfor %}
            </div>

            {% bulma_pagination page_obj extra=request.GET.urlencode %}
        </div>
    </section>
{% endblock %}